body{
   height: 100%;
   width: 100%;
}
#main{
   background-color: black;
   height: 1000px;
   width: 100%;
}

#cursor{
   background-color:wheat;
   border-radius: 50%;
   height: 19px;
   width: 19px;
   position: fixed;
}